.task {
    padding: 1rem 0.75rem;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 0.75rem;
    background: var(--gray-500);
    border: 1px solid #333333;
    border-radius: 8px;
    color: var(--gray-100);
}

.task p {
    width: 39.5rem;
}

.complete {
    text-decoration: line-through;
}

.checkButton {
    background: transparent;
    border: 0;
    color: var(--blue);
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 4px;
}

.checkButton:disabled {
    display: none;
}

.checkedButton {
    background: transparent;
    border: 0;
    color: var(--purple);
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 4px;
}

.checkedButton:disabled {
    display: none;
}

.deleteButton {
    background: transparent;
    border: 0;
    color: var(--gray-300);
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 4px;
    transition: all 0.2s ease-in-out;
}

.deleteButton:hover {
    color: var(--gray-100);
}